dbfadd
dbfcreate
dbfdump
shpadd
shpcreate
shpdump
shprewind
shptreedump
shptest
*.dll
*.lib
*.exp
*.la
*.lo
.libs
configure
config.sub
config.guess
Makefile.in
aclocal.m4
ar-lib
compile
depcomp
install-sh
ltmain.sh
missing
test-driver
autom4te.cache
test*.sh?
test*.dbf
*.o
Makefile
contrib/csv2shp
contrib/shpdxf
contrib/dbfinfo
contrib/shpcentrd
contrib/shpdata
contrib/shpwkb
contrib/dbfcat
contrib/shpinfo
contrib/shpfix
contrib/shpcat
contrib/Shape_PointInPoly
contrib/shpproj
contrib/shpsort
*~
.deps
libtool
shapelib.pc
shputils
*.log
*.trs
config.log
config.status
test.out
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
build/
